*.pyc
*.py~
.DS_Store
conf.py
locale
latest_updates.json
.wnf-lang-status
*.egg-info
dist/
connect_mqtt/docs/current
erpnext/docs/current
tags
*.swp
*.swo
__pycache__
*~
.idea/
.vscode/
node_modules/
